@charset "utf-8";

/**
 * pad样式
 */

/**
 * 导航
 */

header {
  height: 88px;

  nav {
    width: 98%;
    margin: 0 auto;

    .phone {
      display: none;
    }

    .nav_r {
      display: block;
    }

    .nav_log li:first-of-type {
      width: 50px;
      height: 50px;
      margin: 19px 0;
      border: {
        width: 4px;
      }
    }

    .nav_log li:first-of-type::after {
      font: {
        size: 36px;
      }
      left: 2.8px;
      top: -6px;
    }

    .nav_log li:last-of-type {
      padding: 28px 0 0 8px;
      letter-spacing: 2px;
      font: {
        size: 24px;
        weight: 550;
      }
    }

    ul li {
      padding: {
        top: 34px;
      }
    }

    .nav_r li {
      letter-spacing: 2px;
      padding: {
        left: 26px;
      }
    }
  }
}

/**
 * 常用样式
 */
.center {
  width: 98%;
  margin: 0 auto;
  padding: 40px;
  // border: 1px solid red;
}

/**
 * 个人名片
 */
#home {
  padding: {
    top: 128px;
    bottom: 40px;
  }

  background: {
    image: url(../images/pc/bigbg.png);
    repeat: no-repeat;
    size: 100% 100%;
  }

  div {

    ul:first-of-type {
      width: 50%;
      padding-right: 20px;

      dl:last-of-type {
        padding-top: 10px;

        dd {
          line-height: 40px;

          strong {
            display: inline-block;
            width: 100px;

            font: {
              weight: bold;
              size: 16px;
            }

            letter-spacing: 2px;
          }
        }
      }
    }

    ul:last-of-type {
      // background-color: red;
      width: 50%;
      // height: 100px;

      li {
        width: 80%;
        height: 348px;
        background: {
          image: url(../images/pc/me.png);
          size: 100% 100%;
          repeat: no-repeat;
          // position: 21px -75px;
        }
      }
    }
  }
}

/**
 * 关于
 */
#about {
  width: 100%;
  .about_l {
    width: 100%;
    height: 360px;
    // border: 1px solid red;
    background: {
      image: url(../images/mobile/leftbg.png);
      position: center;
    }
  }

  .about_r { // 自我介绍
    width: 100%;
    height: 360px;
    padding: {
      top: 30px;
      left: 60px;
    }

    ul:first-of-type {
      height: 360px;

      li {
        padding: {
          top: 20px;
          left: 80px;
        }

        height: 388px;

        dl:first-of-type {
          dt {
            span:first-of-type {
              font: {
                size: 36px;
              }
            }

            span:last-of-type {
              font: {
                size: 28px;
                weight: 550;
              }
            }
          }

          dd {
            padding: {
              top: 20px;
            }

            font: {
              size: 18px;
            }

            line-height: 40px;
            letter-spacing: 1px;
          }
        }

        dl:last-of-type {
          font: {
            size: 22px;
          }

          padding: {
            top: 30px;
          }

          span {
            border: {
              width: 2px;
              style: solid;
            }
            border-radius: 25px;
            padding: 4px 30px;
            margin: {
              right: 25px;
            }
          }
        }
      }
    }

    ul:last-of-type {
      top: 50%;
      margin-top: -54px;
      left: 20px;

      li {
        width: 16px;
        height: 16px;
        margin: 10px;
      }
    }
  }
}
