@charset "utf-8";

/**
 * pad样式
 */

/**
 * 导航
 */

header {
  height: 88px;

  nav {
    width: 98%;
    margin: 0 auto;

    .phone {
      display: none;
    }

    .nav_r {
      display: block;
    }

    .nav_log li:first-of-type {
      width: 50px;
      height: 50px;
      margin: 19px 0;
      border: {
        width: 4px;
      }
    }

    .nav_log li:first-of-type::after {
      font: {
        size: 36px;
      }
      left: 2.8px;
      top: -6px;
    }

    .nav_log li:last-of-type {
      padding: 28px 0 0 8px;
      letter-spacing: 2px;
      font: {
        size: 24px;
        weight: 550;
      }
    }

    ul li {
      padding: {
        top: 34px;
      }
    }

    .nav_r li {
      letter-spacing: 2px;
      padding: {
        left: 26px;
      }
    }
  }
}

/**
 * 常用样式
 */
.center {
  width: 98%;
  margin: 0 auto;
  padding: 40px;
  // border: 1px solid red;
}

/**
 * 个人名片
 */
#home {
  padding: {
    top: 128px;
    bottom: 40px;
  }

  background: {
    image: url(../images/pc/bigbg.png);
    repeat: no-repeat;
    size: 100% 100%;
  }

  div {

    ul:first-of-type {
      width: 50%;
      padding-right: 20px;

      dl:last-of-type {
        padding-top: 10px;

        dd {
          line-height: 40px;

          strong {
            display: inline-block;
            width: 100px;

            font: {
              weight: bold;
              size: 16px;
            }

            letter-spacing: 2px;
          }
        }
      }
    }

    ul:last-of-type {
      // background-color: red;
      width: 50%;
      // height: 100px;

      li {
        width: 80%;
        height: 348px;
        background: {
          image: url(../images/pc/me.png);
          size: 100% 100%;
          repeat: no-repeat;
          // position: 21px -75px;
        }
      }
    }
  }
}

/**
 * 关于
 */
#about {
  width: 100%;
  .about_l {
    width: 100%;
    height: 360px;
    // border: 1px solid red;
    background: {
      image: url(../images/mobile/leftbg.png);
      position: center;
    }
  }

  .about_r { // 自我介绍
    width: 100%;
    height: 360px;
    padding: {
      top: 30px;
      left: 60px;
    }

    ul:first-of-type {
      height: 360px;

      li {
        padding: {
          top: 20px;
          left: 80px;
        }

        height: 388px;

        dl:first-of-type {
          dt {
            span:first-of-type {
              font: {
                size: 36px;
              }
            }

            span:last-of-type {
              font: {
                size: 28px;
                weight: 550;
              }
            }
          }

          dd {
            padding: {
              top: 20px;
            }

            font: {
              size: 18px;
            }

            line-height: 40px;
            letter-spacing: 1px;
          }
        }

        dl:last-of-type {
          font: {
            size: 22px;
          }

          padding: {
            top: 30px;
          }

          span {
            border: {
              width: 2px;
              style: solid;
            }
            border-radius: 25px;
            padding: 4px 30px;
            margin: {
              right: 25px;
            }
          }
        }
      }
    }

    ul:last-of-type {
      top: 50%;
      margin-top: -54px;
      left: 20px;

      li {
        width: 16px;
        height: 16px;
        margin: 10px;
      }
    }
  }
}

/**
 * 技能
 */

#skill {
  width: 100%;
  padding: {
    top: 80px;
    bottom: 80px;
  }

  div {
    width: 98%;
    margin: 0 auto;
    text-align: left;

    ul:nth-of-type(2) {
      padding-top: 60px;

      li:first-of-type { // 图标
        width: 15%;
        padding: 0;
      }

      li:nth-of-type(2) {
        width: 35%;
        padding: 0;
        padding-right: 10px;
        // float: right;
        // height:300px;

      }

      li:nth-of-type(3) { // 图标
        width: 15%;
        padding: 0;
      }

      li:last-of-type {
        width: 35%;
      }
    }

    ul:last-of-type {
      @extend ul:nth-of-type(2);
    }
  }
}

/**
 * 经历
 */

#exp {
  padding: {
    top: 80px;
    bottom: 80px;
  }

 div {
  width: 98%;

  .exp_big {
    width: 100%;
    padding: {
      top: 60px;
    }

    ul:first-of-type {
      li:first-of-type {
        display: none;
      }

      li:nth-of-type(2) {
        display: block;
        width: 15%;
        height: 50px;
      }

      li:nth-of-type(2)::before {
        top: 0;
        left: 64px;
      }
      li:nth-of-type(2)::after {
        top: 40px;
        left: 40px;
      }

      li:last-of-type {
        width: 85%;
        padding: {
          top: 30px;
          left: 10px;
        }

        dl {
          padding: {
            top: 20px;
            right: 60px;
            bottom: 20px;
            left: 20px;
          }


          dt {
            font: {
              size: 20px;
              weight: 550;
            }
          }

          dd {
            padding: {
              top: 8px;
            }
          }
        }
      }
    }

    ul:nth-of-type(2) {
      @extend ul:first-of-type;
    }

    ul:nth-of-type(3) {
      @extend ul:first-of-type;
    }

    ul:nth-of-type(4) {
      @extend ul:first-of-type;
    }

    ul:nth-of-type(5) {
      @extend ul:first-of-type;
    }
  }
 }
}

/**
 * 作品
 */

#works {

  ul:nth-of-type(2) {
    width: 100%;

    // 切换按钮
    li {
      width: 452px;
    }
  }

  .show_works {

    ul {

      li {
        width: 33.3333333%;
        height: 286px;
      }
    }
  }

  .show_img {

    dl {
      width: 600px;
      height: 420px;
      left: 50%;
      margin-left: -300px;
      top: 50%;
      margin-top: -220px;

      dt {
        font: {
          size: 30px;
        }

        top: -70px;
      }
    }
  }

  .show_img .span_img {
    right: 20px;
    top: 20px;
  }
  .show_img .span_img::after, .show_img .span_img::before{
    top: 38px;
    right: 13px;
  }
}

/**
 * 项目介绍
 */
#project {
  padding: {
    top: 80px;
    bottom: 80px;
  }

  div:first-of-type {
    width: 768px;

    .project_big {
      width: 768px;

      ul {
        width: 100%;
        li {
          // height: 370px;
          width: 100%;
        }

        .project_img {
          width: 100%;
          height: 370px;
        }

        .project_msg {
          dl {
            height: 250px;
            padding: {
              left: 40px;
              top: 40px;
              right: 40px;
            }
            dt {
            font: {
              size: 22px;
              weight: 550;
            }

            letter-spacing: 2px;
            padding-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

/**
 * 联系方式
 */

#contact {
  background: {
    image: url(../images/pc/bottombg.png);
    size: cover;
    repeat: no-repeat;
  }

  div:first-of-type {
    width: 98%;
    padding: {
      top: 80px;
      bottom: 40px;
    }

    .bottom_msg {
      ul {
        width: 100%;
        padding: 30px;
      }

      ul:first-of-type {

        li {
          height: 200px;
          padding-top: 28px;

          dl {
            dt {
              font: {
                size: 36px;
              }
            }

            dd {
              height: 40px;
            }

            dd:first-of-type {
              font: {
                size: 20px;
              }
            }
          }
        }
      }

      ul:last-of-type {

        form {
          .form_txt {
            // display: inline-block;
            height: 60px;
            margin-bottom: 20px;
            padding: 0 10px;

            input {
              // border: 1px solid red;
              height: 60px;
              line-height: 24px;
              line-height: 60px;
              font: {
                size: 16px;
              }
            }

            label {
              height: 54px;
              line-height: 54px;
              padding-left: 10px;
              font: {
                size: 16px;
              }
            }

            .error { // 错误提示
              // display: none; // 用隐藏的哈 显示过后要延迟100ms再执行
              top: 50px;
              left: 30px;
              padding: {
                top: 6px;
                right: 6px;
                left: 32px;
                bottom: 6px;
              }

              // 动画
            }
          }

          .form_te {
            height: 220px;
            padding: 18px 10px;

            label {
              left: 10px;
              top: 18px;
              width: 100px;
              height: 24px;
              font: {
                size: 16px;
              }
            }
          }

          .form_sub {
            height: 80px;

            input {
              width: 120px;
              height: 50px;
              line-height: 50px;
              position: absolute;
              bottom: 0;
              left: 0;
            }
          }
        }
      }
    }

    .footer {
      ul {
        width: 400px;

        li {
          width: 50px;
          height: 50px;
          line-height: 50px;
          font: {
            size: 20px;
          }
          position: relative;
          margin-right: 20px;
        }

        li:last-of-type {
          margin-right: 0;
        }

        li::after {
          width: 40px;
          height: 40px;
          left: 3px;
          top: 3px;
        }
      }
    }
  }
}

/**
 * 弹出窗
 */

.caveat {

  div {
    width: 450px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -225px;

    ul:first-of-type {
      height: 45px;
      padding: {
        top: 10px;
        bottom: 10px;
        left: 20px;
        right: 20px;
      }

      li:last-of-type {
        width: 26px;
        height: 45px;
        margin-top: -10px;
        padding-top: 10px;
        padding-left: 15px;
      }
    }

    ul:last-of-type {
      padding: {
        top: 50px;
        left: 40px;
        right: 20px;
        bottom: 20px;
      }

      li:last-of-type {
        width: 320px;
        margin-left: 20px;

        /* i {
          color: red;
        } */
      }
    }
  }
}
