@charset "utf-8";

/**
 * pc样式
 */

/**
 * 导航
 */

header {
  height: 88px;

  nav {
    width: 1140px;
    margin: 0 auto;
    // border: 1px solid red;

    .phone {
      display: none;
    }

    .nav_r {
      display: block;
    }

    .nav_log li:first-of-type {
      width: 50px;
      height: 50px;
      margin: 19px 0;
      border: {
        width: 4px;
      }
    }

    .nav_log li:first-of-type::after {
      font: {
        size: 36px;
      }
      left: 2.8px;
      top: -6px;
    }

    .nav_log li:last-of-type {
      padding: 28px 0 0 8px;
      letter-spacing: 2px;
      font: {
        size: 24px;
        weight: 550;
      }
    }

    ul li {
      padding: {
        top: 34px;
      }
    }

    .nav_r li {
      letter-spacing: 2px;
      padding: {
        left: 26px;
      }
    }
  }
}

/**
 * 常用样式
 */

.center {
  width: 1140px;
  margin: 0 auto;
  padding: 40px;
  // border: 1px solid red;
}

/**
 * 个人名片
 */
#home {
  padding: {
    top: 128px;
    bottom: 40px;
  }

  background: {
    image: url(../images/pc/bigbg.png);
    repeat: no-repeat;
    size: 100% 100%;
  }

  div {

    ul:first-of-type {
      width: 50%;
      padding-right: 20px;

      dl:last-of-type {
        padding-top: 10px;

        dd {
          line-height: 40px;

          strong {
            display: inline-block;
            width: 100px;

            font: {
              weight: bold;
              size: 16px;
            }

            letter-spacing: 2px;
          }
        }
      }
    }

    ul:last-of-type {
      // background-color: red;
      width: 50%;
      // height: 100px;

      li {
        width: 80%;
        height: 348px;
        background: {
          image: url(../images/pc/me.png);
          size: cover;
          repeat: no-repeat;
          position: 21px -75px;
        }
      }
    }
  }
}
